<div id="<%= dom_id tourist %>">
  <p>
    <strong>First name:</strong>
    <%= tourist.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= tourist.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tourist.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= tourist.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= tourist.twitter %>
  </p>

</div>
