
 <div class="container py-3">
     <%# <div class="card-panel shadow p-5 rounded-2 mb-2">  %>
   <div class="card-panel shadow p-3 rounded d-flex flex-column  bg-white  border-bottom shadow-sm">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"><strong>Posts</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">






           
        


          <li class="nav-item">
          <a class="nav-link" href="<%= tourists_path %>"><strong>Tourist</strong></a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="<%= new_tourist_path %>"><strong>Add Tourist</strong></a>
        </li>


          <li class="nav-item">
          <a class="nav-link" href="<%= tickets_path %>"><strong>Ticket</strong></a>
        </li>

           
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= about_path %>">Contact</a>
        </li>



         </ul>

         <ul class="navbar-nav mr-auto">

      

        <li class="nav-item">
          <%= link_to "Sign Out",destroy_user_session_path,method: :delete,class: "nav-link" %>
          
        </li>
        |

        <li class="nav-item">
          <%= link_to "Edit Profile",edit_user_registration_path,class: "nav-link" %>
          
        </li>
        |

        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path,class: "nav-link" %>
          
        </li>
        |

         <li class="nav-item">
          <%= link_to "Sign Up",new_user_registration_path,class: "nav-link" %>
          
        </li>
      
       <%= link_to 'New Post', new_post_path,class: 'btn btn-outline-primary pull-sx-right' %>
   </div>
  </nav>
  </div>
</div>

