

<div class="card-panel shadow p-5 rounded-5 mb-2 ">


     <div class="alert alert-light">

   <div id="<%= dom_id post %>">
  <p>
 
    <h5><strong><%= post.title %></strong></h5>
  </p>

  <small>
  <time><%= post.created_at.to_date.strftime("%d %B, %Y") %></time>

   </small>
  <br>
  <br>

  <p>
    <strong>Summary:</strong>
    <%= post.summary %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

   </div>
  </div>
</div>
