

<div class="container">

  <div class="card-panel shadow p-5 rounded-5 mb-3">
     <div class="alert alert-light">

<%= render @post %>


<hr>

<h3 class="mt-5"><strong> Comments</strong></h3>

             <% @post.comments.each do |comment| %>

         <div class="alert alert-primary" role="alert">
  
        <p><strong><%= comment.username %></strong>: <%= comment.body %><br>

     </p>

    </div>

 <% end %>  

 <hr><br>

 <h3><strong>Insert Comment</strong></h3>

 <%= form_for([@post,@post.comments.build]) do |f| %>
 <p>
  Username<br>
  <%= f.text_field(:username, {:class => 'form-control'})%>
 </p>

  <p>
  Text Comments<br>
  <%= f.text_area(:body,{:class => 'form-control'})%>
 </p>

  <p>
 
  <%= f.submit("Insert Comments",{:class => 'btn btn-primary'})%>


 </p>
 <% end %>  




  <%= link_to "Edit ", edit_post_path(@post) %> 


  |
  <%= link_to "Back to posts", posts_path %>
  |

  <%= button_to "Destroy this post", @post, method: :delete, data: {confirm: 'are you sure?'},class: 'mt-2 border radius' %>



         </div>
    </div>
</div>

